@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  background-color: "#7659AB";
}

/* body {
  overflow: hidden;
} */

h1,
section,
p,
span,
svg {
  transition: background-color 0.5s, color 0.5s;
}
a {
  text-decoration: none;
  color: inherit;
}

:root {
  /* Light Theme Variables */
  --color-text-light: #333332;
  --color-background-light: #faf4e5;
  --color-pink-light: #e5a1aa;
  --color-green-light: #7ad0ac;
  --color-blue-light: #8395cd;

  /* Dark Theme Variables */
  --color-text-dark: #faf4e5;
  --color-background-dark: #8395cd;
}

.dark-theme {
  --color-text: var(--color-text-dark);
  --color-background: var(--color-background-dark);
  --color-pink: var(--color-text-dark);
  --color-green: var(--color-text-dark);
  --color-blue: var(--color-text-dark);
}

/* Preloader */
.preloader {
  background-color: #aaaeda;
  width: 100%;
  height: 100vh;
  position: fixed;
  opacity: 1;
  z-index: 99999999999999999;
  transition: ease-out 4;
}

.preloader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 6px;
  background-color: #301f49;
  animation: load 1s ease-in-out infinite;
}

.circle:nth-child(2) {
  animation-delay: 0.1s;
}

.circle:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes load {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-12px);
  }

  40% {
    transform: translateY(0);
  }
}

/* Page Itself --------------------------------------------- */
.page {
  z-index: 1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.page-wrapper {
  position: relative;
}

/* Preloader Stuff */
.animatedis {
  display: inline-block;
  transform: translateY(100%);
}

.intro-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-text);
  transform: translate(-50%, -50%);
}

.arrow-svg-wrapper {
  position: absolute;
  top: 90%;
  left: 50%;
  /* opacity: 0; */
  color: var(--color-text);
  transform: translate(-50%, -50%);
  animation: bounce 0.5s ease-in alternate infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(8px);
  }
}

/* Section Formatting --------------------------------------------- */
.section-margin {
  height: 100vh;
}

.section {
  position: relative;
  padding: 50% 4%;
  margin: 0;
  overflow: hidden;
}

.left {
  margin-right: auto;
  border-top-right-radius: 700px 700px;
  border-bottom-right-radius: 0px 0px;
}

.right {
  margin-left: auto;
  border-top-left-radius: 700px 700px;
  border-bottom-left-radius: 0px 0px;
}

/* Sections -------------- */

.section-intro-wrapper {
  position: relative;
  padding: 15% 5% 5%;
  border-bottom: 2px solid var(--color-pink);
  /* padding-bottom: 400px; */
}

.section-detail-wrapper {
  /* position: relative; */
  padding: 8% 5%;
}

.section-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.8;
  margin-top: 64px;
  color: var(--color-text);
}

.section-text {
  line-height: 2;
  margin-top: 18px;
  font-size: 16px;
  color: var(--color-text);
}

/* Fancy Decoration Part of Section */
.section-title {
  position: relative;
  color: var(--color-pink);
}

.section-title-text {
  display: block;
  font-size: 40px;
  font-weight: 500;
  /* transform-origin: left; */
  /* transform: skewY(25deg); */
  z-index: 5;
  text-transform: uppercase;
  color: var(--color-pink);
}

.styleOne,
.styleTwo,
.styleThree {
  position: absolute;
  display: block;
  width: 100%;
  max-width: 278px;
  height: 60px;
  border: 1px solid var(--color-pink);
  transform-origin: left;
  transform: skewY(-25deg);
}

.styleOne {
  top: 0px;
}

.styleTwo {
  top: 80px;
}

.styleThree {
  top: 80px;
  transform: skewY(25deg);
  background-color: var(--color-pink);
}

.section-number {
  /* position: absolute; */
  bottom: 15px;
  right: 0;
  color: var(--color-pink);
  font-size: 24px;
}

/* Hero section -------------------------------- */

.hero {
  width: 100vw;
  height: 100vh;
}

.hero-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.hero-main {
  position: absolute;
  bottom: 168px;
  left: 0;
  color: "#57B1A8";
}

.hero-second {
  position: absolute;
  top: calc(50% - 120px);
  right: 0;
  color: var(--color-text);
}

.hero-main-title {
  font-size: 64px;
  color: var(--color-text);
}

.hero-main-description {
  font-size: 18px;
  color: var(--color-text);
}

.hero-second-subheading {
  font-size: 32px;
  text-transform: uppercase;
  color: var(--color-text);
}

/* Other colors override */

.blue-text {
  color: var(--color-blue);
}

.blue-border {
  border-color: var(--color-blue);
}

.blue-background {
  background-color: var(--color-blue);
}

.green-text {
  color: var(--color-green);
}

.green-border {
  border-color: var(--color-green);
}

.green-background {
  background-color: var(--color-green);
}

/* Media Queries */

@media (max-width: 968px) {
  .section {
    width: 100%;
  }
  .progress-bar-wrapper-left {
    right: 0;
    left: auto;
  }
  .hero-main {
    bottom: 120px;
  }
  .hero-second {
    top: 160px;
  }
  .hero-wrapper {
    width: calc(100% - 60px);
  }
  .hero-main-title {
    font-size: 32px;
  }
  .hero-main-description {
    font-size: 18px;
  }
  .hero-second-subheading {
    font-size: 18px;
  }
}

/* Lenis */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.model {
  transform: translateX(0);
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .left_50 {
    left: 50%;
  }
}
